
.like {
    border: none;
    color: transparent;
    background-color: transparent;
    -webkit-text-stroke: 2px black;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    cursor: pointer;
}
.like {
    position: relative;
    font-size: 1.4em;
}


.like:hover {
  
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background-image: -o-linear-gradient(#9356DC, #FF79DA);
  background-image: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 0;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.3);
}