.new {
    position: relative;
    
  }

.new {
&before {
  position: absolute;
    content: "Nouveau";
    height: 2rem;
    width: 5rem;
    background-color: #99e2d0;
    color: green;
    font-weight: bolder;
    text-align: center;
    display: grid;
    place-items: center;
    right: 1rem;
    top: 1rem;
    border-radius: 5px;
}

}