.bottombordered { 
    border-bottom: 2px solid #99E2D0 ;
}

.ligneverte  {
    background: #99E2D0;
}


main {
    background: var(--White, #FFF); 
}



.bold {
        font-weight: bold;
      }
      
      
.text-color {
        color: #FFF;
      }
    